@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap')

.title {
	font-family: 'Raleway', sans-serif
	margin: 0
}

h1.title {
	font-size: 72px
	line-height: 64px
	font-weight: 800
}

h2.title {
	font-size: 52px
	line-height: 48px
	font-weight: 700
}

h3.title {
	font-size: 36px
	line-height: 32px
	font-weight: 600
}
