.header {
  display: flex
  flex-wrap: wrap
  align-items: flex-start
  gap: 12px
  padding: 16px
}

.logo {
  height: 64px
  vertical-align: middle
}

.title {
  display: flex
  flex-direction: column
}

.controls {
  margin-left: auto
}