
.surface {
  background: var(--theme-bg-fill)
  border-radius: 12px
  padding: 16px
  display: flex
  flex-direction: column
  gap: 16px
  border: 2px solid var(--theme-bg-text)
}

.title {
  display: flex
  justify-content: center
}

.content {
  display: flex
  flex-direction: column
  gap: 12px
}

.controls {
  display: flex
  justify-content: flex-end
}