.footer {
	display: flex
	justify-content: space-between
	align-items: flex-end
	flex-wrap: wrap
	gap: 12px
}

.controls {
	flex: 1
}

.logo {
	height: 80px
	width: 80px
}

.title {
	text-align: right
	display: flex
	gap: 12px
	align-items: flex-end
}
